@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai&display=swap'); /* import Noto Serif Thai*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Sarabun&display=swap');

/*-----------------------------*/

/*-----------------------------*/
:root{
    --blkbdrradus: 2vh;
    --blkpadding: 4vh 2vw;
    --themeclr1 : rgb(240, 169, 169);
    --themeclr2: rgb(160, 0, 64);
    --themeclr3: rgb(64, 17, 17);
    --themeclr4: rgb(255, 251, 0);
    --themeclr5: rgb(62, 52, 49);
    --themeclr6: rgb(62, 52, 49);
    
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2px black;
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 2px black;
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
text-decoration: none;}


*{
    font-family: 'Noto Serif Thai';
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 0, 0);
}
hr{
    border-color: #fff;
    background-color: #fff;
    height: 2px;
}
#app{
    align-items: center;
    width: 100vw;
    
    
}
.container{
    display: grid;
    padding: 0;
    width: 100vw;
}


/* Header section */

#header{
    background-color: rgb(255, 0, 0);
    height: 30%;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    border-radius: 2vh;
    border: 2px solid rgb(255, 255, 255);
    padding: 2vh;
    
    
}
#header img{
    height: 20vh;
    border-radius: 8vh;
    padding: auto;
    
    /* when screen width>576px display will be block*/
}
#header div{
    margin: auto 0;
    padding: 2vh 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
    
}


/* Content section */

.content{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: auto;
    width: 100vw;
}
.content h1 {
    
    font-weight: 900;
    -webkit-text-stroke: 0.02em rgb(0, 0, 0);
    color: var(--themeclr2);
}

.banner{
    height:40vh;
    background-color:rgba(255,255,255,0.2);
    border-radius: 2vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.banner img{
    width:100%;
    height:auto;
    margin: auto 0; 
    transform: translateY(-20%);
    
}


.jngtua{
    
    background-color: var(--themeclr1);
    border-radius: var(--blkbdrradus);
    padding: var(--blkpadding);
    display: grid;
    /* Below changes in atmedia */
    grid-template-areas: 
    'head head'
    'depart depart'
    'arrive arrive'
    'date date'
    'pmcode pmcode'
    'adults children'
    'search search';
}

.jngtua h3{
    grid-area: head;
}
.jngtua p:nth-child(2){
    grid-area: depart;
}
.jngtua p:nth-child(3){
    grid-area: arrive;
}
.jngtua p:nth-child(4){
    grid-area: date;
}
.jngtua p:nth-child(5){
    grid-area: pmcode;
}
.jngtua p:nth-child(6){
    grid-area: adults;
}
.jngtua p:nth-child(7){
    grid-area: children;
}
.jngtua button{
    grid-area: search;
}

.ctblk, .ctblk2{
    /*ctblk = contentblock*/
    
    border-radius: var(--blkbdrradus);
    padding: var(--blkpadding);
    background-color: #fff;
    /* overflow: scroll; */
}
.ctblk{
    text-align: center;
}
.ctblk div img{
    height:20vh;
    margin: auto;
    display: block;
}
.ctblk div{
    
    width:100%
}

.ctblk2 div{
    display: grid;
    grid-template-areas: 'prefix' 'name' 'surname' 'e-mail';
    /* ^^ changes in atmedia ^^ */
}

.ctblk2 h1{
    text-align: center;
}
.ctblk2 div{
    padding: 3vh 1vh;
}
.ctblk2 div p:nth-child(1){
    grid-area: prefix;
}
.ctblk2 div p:nth-child(2){
    grid-area: name;
}
.ctblk2 div p:nth-child(3){
    grid-area: surname;
}
.ctblk2 div p:nth-child(4){
    grid-area: e-mail;
}

#Heartland {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* Change in atmedia */

}
#Heartland iframe{
    width: 90vw;
    height: 50vw;
    /* Change in atmedia */

}

#airportsign{
    background-color: #000;
    color: rgb(255, 255, 255);
    font-family: 'Sarabun';
    display: grid;
    grid-template-areas: 
    'header' 
    'depart'
    'depart'
    'depart'
    'arrive'
    'arrive'
    'arrive'
    'sumprice'
    'sumprice'
    'sumprice'
    'next';
    
    overflow:scroll;
    /* changes in atmedia */

}

/*for Chrome, Safari, Opera */
#airportsign::-webkit-scrollbar {
    display: none;
}
/*for IE, Edge, FF */
#airportsign{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#airportsign img{
    filter: invert(89%) sepia(100%) saturate(7489%) hue-rotate(11deg) brightness(109%) contrast(109%);
    height: 13vh;
    -webkit-text-stroke: 0.02em rgb(255, 255, 255);
    z-index: -1;
}

#airportsign h1 {
    -webkit-text-stroke: 0.0em;
    color: rgb(255, 255, 0);
    
}

.apsHeader{
    grid-area: header;
}

.depandarr, .sumprice, .next{
    padding: 2vh;
    display: grid;
    /* width:100% !important; */
    width: 98% !important;
    border: 1px solid #fff;
    border-radius: var(--blkbdrradus);
    display: grid;
    margin: 1vh;
}

.depandarr{
    grid-template-areas: 'deporarr'
    'pic'
    'pic'
    'place'
    'tac'
    ;
}

.depandarr:nth-child(2){
    grid-area: depart;
}
.depandarr:nth-child(3){
    grid-area: arrive;
}
.sumprice{
    justify-content: center;
    gap: 5vh;
    grid-area: sumprice;
}
.sumprice div{
    display: flex;
    flex-direction: column;
}
.sumprice h2{
    color: rgb(0, 255, 64);
    border-top: 0px;
}
.sumprice div:nth-child(2n-1){
    text-align: left;
}
.sumprice div:nth-child(2n){
    text-align: right;
}
.sumTotalPrice{
    border-bottom: solid green;
    padding: 0.5em 0;
}
.depandarr h2{
    color: #fff;
    border-bottom: 2px solid;
    padding-bottom: 1vh;
    font-size: 2.2em;
}
.depandarr .daa0{
    grid-area: deporarr;
    
}
.depandarr .daa1{
    grid-area: pic;
    text-align: center;
}
.depandarr .daa2{
    grid-area: place;
    padding: 2vh 0;
    overflow: scroll;
}
/*for Chrome, Safari, Opera */
.depandarr .daa2::-webkit-scrollbar {
    display: none;
}
/*for IE, Edge, FF */
.depandarr .daa2{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.depandarr .daa3{
    grid-area: tac;
    text-align: center;
}
.depandarr span{
    color: yellow;
}
.next{
    background-color: rgb(0, 255, 0);
    color: #000;
    grid-area: next;
    width: calc(100%-2vw);
    display: flex;
    justify-content: center;
}


.next:active, .next:hover{
    background-color: rgb(0, 131, 0);
    color: #fff;
    transition: 0.5s ease
}

/* content which class of table, row and columns*/
.table{
    background-color: var(--themeclr1);
    border-radius: var(--blkbdrradus);
    display: flex;
    flex-direction: column;
    min-width:100%;
    
    
}
/*.rowhead, .roww{
    
}*/
.rowhead{
    background-color: var(--themeclr2);
    padding: 3vh 0;
    border-radius: 2vh 2vh 0 0;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    color: #fff;
    
}
.info{
    width: 20%;
    display: flex;
    flex-direction: row;
}
.roww, .rowdate, .coll{
    /*roww named instead of row because evade acual root row class*/
    border-radius: var(--blkbdrradus);
    display: flex;
    justify-content: center;
    
    white-space: nowrap;
    
}
.roww, .rowdate{
    flex-direction: row;
    
}
.callsign, .depTime, .arrTime, .eco{
    flex-direction: column;
    width: 20%;
    text-align: center;
    gap: 1;
}
.celleco, .cellbsn,.cell, .cellDate{
    /* cell is table cell */
    width: 20%;
    padding: 1vh;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    

}

.celleco{
    background-color: rgb(0, 255, 76) !important;
}
.cellbsn{
    background-color: rgb(232, 202, 92) !important;    
}
.cellbsn:active, .celleco:active, .cellDate:active, .cellDate:nth-child(3){
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 2px #000;
    /* transform: scale(0.9); */
    /* transition: 0.5s; */
}

/* baggage */

.baggage{
    
    /* border-radius: var(--blkbdrradus); */
    display: flex;
    flex-direction: column;
    min-width:100%;
    overflow: hidden;
    
    
}
.baggage button{
    width: 90%;
    padding-bottom: 20px;
}
#bgg{
    background-color: #fff;
}

#deluxe, #nodeluxe{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    
    /* Changes at atmedia */
}

#deluxe{
    background-image: url("./assets/Screenshot\ 2022-12-26\ 124450.png");
}

#nodeluxe{
    background-image: url("./assets/baggage.png");
}

#deluxe div{
    padding-top: 50px;
    background-color: rgba(255, 95, 95, 0.7);
    height: 100%;
}
#nodeluxe div{
    padding-top: 50px;
    background-color: rgba(157, 157, 157, 0.7);
    height: 100%;
}
#deluxe:active, #nodeluxe:active, #deluxe:hover, #nodeluxe:hover{
    transition: 1s ease;
    background-size: contain;
    cursor: pointer;
    
}

/* input */

select ,input{
    border-radius: 1vh;
    padding: 0 1vh;
    margin:0 1vh;
    
}
select{
    max-width: 50%;
}
option{
    overflow: scroll;
}
input[type=text]{
    max-width: 18em;
    /* Changes in atmedia */
}

/* footer */

.footer{
    background-color: black;
    width: 100vw;
    
    margin:4vh 0 0 0; 
    
    padding: 2vw 2vw 15vw 2vw;    
    color: wheat;
    text-align: center;
    box-sizing: border-box;
    
}
.footer #img{
    height:20vh;
    border-radius: 50%;
}
.author{
    display: grid;
    margin: auto;
    grid-template-areas: 'ig'
    'fb'
    'lin'
    'yt';
    width:100%;
}
/* .author a{
    
} */



